@import "../fonts/poppins/stylesheet.scss";
@import "../fonts/dancing/stylesheet.scss";

// Fonts
$font_main: "Poppins", sans-serif;
$font_dancing: "Dancing Script";
// Screen size
$XXL: 1920px;
$XL: 1440px;
$LG: 1280px;
$MD: 1024px;
$SM: 768px;
$XS: 414px;
$XXS: 320px;

// media queries responsive
@mixin Responsive($canvas) {
  @if $canvas == XXS {
    @media only screen and (max-width: $XXS) {
      @content;
    }
  } @else if $canvas == XS {
    @media only screen and (max-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == LG {
    @media only screen and (max-width: $LG) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  } @else if $canvas == XXL {
    @media only screen and (max-width: $XXL) {
      @content;
    }
  }
}

$height_navbar: 96px;
$height_navbar_LG: 96px;
$height_navbar_SM: 96px;
